In [1]:
# DEEP LEARNING

# Introduction to deep learning

M.L ==> part ==> D.L

D.L ==>

1966- 2015 ==> 1XGB data
2015 - 2016 ==> 1 X GB data
2017 - 2019 ==> 2X GB data

exponential grow n time

# DEEP LEARNING 

HUMAN BRAIN ==> BODY SIGNAL ==> MIND , MIND==> RETURN THE SINGNAL TO BODY

ARTIFICAL BRAIN ==> ARTIFICAL NEURONS ==> INPUT ==> SIGNAL ==> TARGET DATA,

TARGET ==> SIGNAL ==> INPUT

# DIFFERENCE BETWEEN MACHINE LEARNING AND DEEP LEARNING

(1) . D.L ==> PERFORMANCE HIGHER ON BIGDATA, BUT ML PERFORMANCE IS BETTER IN SMALL DATA AS COMPARE TO THE D.L

(2) . D.L TRAINING TIME HIGH , PREDICITON TIME FAST AND ML ==> TRAINING TIME FAST, PREDICTION SLOW

(3). COST ==> D.L MODEL ==> COST HIGH, ML==> COST LOW

# DL ==> REPRESENTING LEARNING ==> DATA GENRATE ==>
WORK ON IMPORTANT FEATURES ==> OUTPUT ==> VANISH ALL LAYERS

# WORKING FLOW OF MACHINE LEARNING ==>

DATA ==> DIVIDE(X,Y) ==> DIVIDE(X_TRAIN, X_TEST, Y_TRAIN,Y_TEST)==>
FEATURE ENGINEERING(ENCODING, STANDARDIZATION, PIPELINE...)==> MODEL DEPEND ON TARGET DATA==>
PREDICTION ==> MODEL'S PERFORMANCE(METRICS_SCORE(TARGET DATA = NUMERICAL ==> R2_SCORE MAE,MSE,))
TARGET DATA ==> CATEGORICAL ==> ACCURACY_SCORE

# WORKING FLOW OF DEEP LEARNING ==>
DATA = CONVERT IT INTO NUMBERS ==>
SEQUENTIAL ARCHITECTURE(INPUT LAYER, HIDDEN LAYER, OUTPUT LAYER)==>
MODEL COMPILE(OPTIMIZER , LOSS_FUNCTION , METRICS_SCORE)==>
X_TEST ==> PREDICTION , Y_TEST
PERFORMANCE OF MODEL

# OPTIMIZATION TECHNIQUE==>
(1). ML = gradient descent 

(2). D.L ==>
STOCASTING GRADIENT DESCENT
#MOMENTUM
#ADAGRAD
#ADAELTA
#RMSPROP 
#ADAM
#NADAM
#ADAMAX

# LOSS FUNCTION ==>
BINARY CROSS_ENTROPY
#CATEGORICAL CROSS_ENTROPY
#MAE
#MSE

In [1]:
#ACTIVATION FUNCTION ==>
# STEP 
# SIGMOID 
# TANH
# RELU
# PRelu , LeakRelu , Elu

In [2]:
import numpy as np
import pandas as pd

In [3]:
! pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\gajendra singh\anaconda3\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.23.5 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.24.4)
Requirement already satisfied: setuptools in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.7.1)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.0)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\gajendra singh\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gajendra singh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gajendra singh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gajendra singh\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\gajendra singh\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\gajendra singh\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\gajendra singh\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)

In [29]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\Attrition.csv")

In [30]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [31]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [32]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [33]:
df = df.dropna()

In [34]:
x = df.drop(columns = ['Attrition'], axis=1)
y = df['Attrition']

In [35]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   BusinessTravel            1470 non-null   object
 2   DailyRate                 1470 non-null   int64
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EmployeeCount             1470 non-null   int64
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  Over18                    1470 non-null   object
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1470 non-null   int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1470 non-null   int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(8)
memory usage: 390.6+ KB

In [36]:
categorical_features = ['BusinessTravel',
                       'Department',
                       'EducationField',
                       'Gender',
                       'JobRole',
                       'MaritalStatus',
                       'Over18',
                       'OverTime']

In [37]:
x_encoded = pd.get_dummies(x, columns = categorical_features, drop_first=True)

In [38]:
x_encoded

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,1,0,0,0,0,0,0,1,0,0
1466,39,613,6,1,1,2062,4,42,2,3,...,0,0,0,0,0,0,0,1,0,0
1467,27,155,4,3,1,2064,2,87,4,2,...,0,0,1,0,0,0,0,1,0,1
1468,49,1023,2,3,1,2065,4,63,2,2,...,0,0,0,0,0,1,0,1,0,0
1469,34,628,8,3,1,2068,2,82,4,2,...,1,0,0,0,0,0,0,1,0,0

In [39]:
# encoded target data
lb = LabelEncoder()

In [40]:
y_encoded = lb.fit_transform(y)
y_encoded

array([1, 0, 1, ..., 0, 0, 0])

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x_encoded, y_encoded, test_size = 0.2, random_state = 42)

In [42]:
x_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
1097,24,350,21,2,1,1551,3,57,2,1,...,1,0,0,0,0,0,0,0,0,0
727,18,287,5,2,1,1012,2,73,3,1,...,0,0,0,0,1,0,0,0,1,0
254,29,1247,20,2,1,349,4,45,3,2,...,0,0,0,0,0,1,0,0,0,0
1175,39,492,12,3,1,1654,4,66,3,2,...,0,0,1,0,0,0,0,1,0,0
1341,31,311,20,3,1,1881,2,89,3,2,...,1,0,0,0,0,0,0,0,0,0

In [43]:
sc = StandardScaler()

In [44]:
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

# now we will create architecture of our model

In [45]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units= 128, activation = 'relu', input_dim = x_train_scaled.shape[1]),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units = 64, activation = 'relu'), # hidden layer
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units = 1, activation = 'sigmoid') # output layer
])

In [46]:
# compile the model

In [47]:
loss_fn = tf.keras.losses.BinaryCrossentropy()

In [48]:
metrics = ['accuracy']

In [49]:
learning_rate = 0.001 
momentum = 0.9 
optimizer = tf.keras.optimizers.SGD(learning_rate = learning_rate , momentum = momentum , nesterov = True)

In [50]:
model.compile(optimizer = optimizer , loss = loss_fn , metrics = metrics)

In [51]:
model.fit(x_train_scaled , 
         y_train , 
         epochs = 50 ,
          batch_size = 8 , 
          validation_split = 0.1
         
         )

Epoch 1/50
133/133 [==============================] - 3s 8ms/step - loss: 0.5599 - accuracy: 0.7259 - val_loss: 0.4975 - val_accuracy: 0.7966
Epoch 2/50
133/133 [==============================] - 1s 5ms/step - loss: 0.4493 - accuracy: 0.8384 - val_loss: 0.4765 - val_accuracy: 0.7966
Epoch 3/50
133/133 [==============================] - 1s 5ms/step - loss: 0.4293 - accuracy: 0.8336 - val_loss: 0.4607 - val_accuracy: 0.7966
Epoch 4/50
133/133 [==============================] - 1s 5ms/step - loss: 0.4072 - accuracy: 0.8403 - val_loss: 0.4502 - val_accuracy: 0.7966
Epoch 5/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3969 - accuracy: 0.8431 - val_loss: 0.4382 - val_accuracy: 0.7966
Epoch 6/50
133/133 [==============================] - 1s 6ms/step - loss: 0.3786 - accuracy: 0.8497 - val_loss: 0.4289 - val_accuracy: 0.8051
Epoch 7/50
133/133 [==============================] - 1s 6ms/step - loss: 0.3720 - accuracy: 0.8563 - val_loss: 0.4212 - val_accuracy: 0.8136
Epoch 8/50
133/133 [==============================] - 1s 6ms/step - loss: 0.3718 - accuracy: 0.8535 - val_loss: 0.4151 - val_accuracy: 0.8051
Epoch 9/50
133/133 [==============================] - 1s 6ms/step - loss: 0.3548 - accuracy: 0.8639 - val_loss: 0.4099 - val_accuracy: 0.8051
Epoch 10/50
133/133 [==============================] - 1s 6ms/step - loss: 0.3350 - accuracy: 0.8667 - val_loss: 0.4070 - val_accuracy: 0.8051
Epoch 11/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3373 - accuracy: 0.8639 - val_loss: 0.4011 - val_accuracy: 0.8220
Epoch 12/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3242 - accuracy: 0.8639 - val_loss: 0.3988 - val_accuracy: 0.8305
Epoch 13/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3280 - accuracy: 0.8667 - val_loss: 0.3957 - val_accuracy: 0.8475
Epoch 14/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3231 - accuracy: 0.8733 - val_loss: 0.3923 - val_accuracy: 0.8390
Epoch 15/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3235 - accuracy: 0.8724 - val_loss: 0.3904 - val_accuracy: 0.8559
Epoch 16/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3059 - accuracy: 0.8922 - val_loss: 0.3897 - val_accuracy: 0.8475
Epoch 17/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3112 - accuracy: 0.8743 - val_loss: 0.3864 - val_accuracy: 0.8305
Epoch 18/50
133/133 [==============================] - 1s 5ms/step - loss: 0.3046 - accuracy: 0.8733 - val_loss: 0.3844 - val_accuracy: 0.8136
Epoch 19/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2917 - accuracy: 0.8856 - val_loss: 0.3849 - val_accuracy: 0.8220
Epoch 20/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2894 - accuracy: 0.8837 - val_loss: 0.3852 - val_accuracy: 0.8220
Epoch 21/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2840 - accuracy: 0.8809 - val_loss: 0.3832 - val_accuracy: 0.8220
Epoch 22/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2691 - accuracy: 0.8922 - val_loss: 0.3841 - val_accuracy: 0.8305
Epoch 23/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2732 - accuracy: 0.9008 - val_loss: 0.3873 - val_accuracy: 0.8305
Epoch 24/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2692 - accuracy: 0.8875 - val_loss: 0.3896 - val_accuracy: 0.8220
Epoch 25/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2807 - accuracy: 0.8885 - val_loss: 0.3868 - val_accuracy: 0.8390
Epoch 26/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2545 - accuracy: 0.8970 - val_loss: 0.3889 - val_accuracy: 0.8390
Epoch 27/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2574 - accuracy: 0.9036 - val_loss: 0.3900 - val_accuracy: 0.8390
Epoch 28/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2594 - accuracy: 0.8885 - val_loss: 0.3903 - val_accuracy: 0.8390
Epoch 29/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2485 - accuracy: 0.8998 - val_loss: 0.3938 - val_accuracy: 0.8390
Epoch 30/50
133/133 [==============================] - 1s 6ms/step - loss: 0.2512 - accuracy: 0.8913 - val_loss: 0.3910 - val_accuracy: 0.8305
Epoch 31/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2527 - accuracy: 0.9017 - val_loss: 0.3857 - val_accuracy: 0.8390
Epoch 32/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2390 - accuracy: 0.9168 - val_loss: 0.3927 - val_accuracy: 0.8390
Epoch 33/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2368 - accuracy: 0.9026 - val_loss: 0.3961 - val_accuracy: 0.8305
Epoch 34/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2470 - accuracy: 0.9026 - val_loss: 0.3990 - val_accuracy: 0.8305
Epoch 35/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2388 - accuracy: 0.8998 - val_loss: 0.4046 - val_accuracy: 0.8220
Epoch 36/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2356 - accuracy: 0.9093 - val_loss: 0.4046 - val_accuracy: 0.8220
Epoch 37/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2308 - accuracy: 0.9064 - val_loss: 0.4048 - val_accuracy: 0.8220
Epoch 38/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2274 - accuracy: 0.9121 - val_loss: 0.4051 - val_accuracy: 0.8390
Epoch 39/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2302 - accuracy: 0.9017 - val_loss: 0.4078 - val_accuracy: 0.8220
Epoch 40/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2238 - accuracy: 0.9055 - val_loss: 0.4195 - val_accuracy: 0.8220
Epoch 41/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2208 - accuracy: 0.9178 - val_loss: 0.4168 - val_accuracy: 0.8220
Epoch 42/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2232 - accuracy: 0.9112 - val_loss: 0.4167 - val_accuracy: 0.8136
Epoch 43/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2130 - accuracy: 0.9140 - val_loss: 0.4211 - val_accuracy: 0.8136
Epoch 44/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2151 - accuracy: 0.9121 - val_loss: 0.4217 - val_accuracy: 0.8220
Epoch 45/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2272 - accuracy: 0.9083 - val_loss: 0.4279 - val_accuracy: 0.8220
Epoch 46/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2202 - accuracy: 0.9083 - val_loss: 0.4261 - val_accuracy: 0.8136
Epoch 47/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1972 - accuracy: 0.9225 - val_loss: 0.4293 - val_accuracy: 0.8305
Epoch 48/50
133/133 [==============================] - 1s 5ms/step - loss: 0.1935 - accuracy: 0.9244 - val_loss: 0.4337 - val_accuracy: 0.8220
Epoch 49/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2086 - accuracy: 0.9253 - val_loss: 0.4358 - val_accuracy: 0.8136
Epoch 50/50
133/133 [==============================] - 1s 5ms/step - loss: 0.2059 - accuracy: 0.9206 - val_loss: 0.4409 - val_accuracy: 0.8051

In [52]:
loss , accuracy = model.evaluate(x_test_scaled, y_test)

10/10 [==============================] - 0s 4ms/step - loss: 0.3364 - accuracy: 0.9014

In [54]:
print(f'Test Loss = {loss :.4f}, Test Accuracy = {accuracy :.4f}')

Test Loss = 0.3364, Test Accuracy = 0.9014