In [2]:
# MinMaxScaler
# data ==> Min_value = 0 , Max_value = 1

In [79]:
import numpy as np
import pandas as pd

In [80]:
df = pd.read_csv('covid_toy.csv')

In [81]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [82]:
from sklearn.preprocessing import LabelEncoder

In [83]:
lb = LabelEncoder()

In [84]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [85]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [86]:
x = df.drop(columns = ['has_covid'] , axis = 1) # Independent data
y = df['has_covid']

from sklearn.model_selection import train_test_split

In [87]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size=0.2 , random_state = 42)

In [88]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   71.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    2.0    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0   99.5    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  103.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [89]:
from sklearn.preprocessing import MinMaxScaler

In [90]:
mn = MinMaxScaler()

In [91]:
x_train_mn = mn.fit_transform(x_train)
x_test_mn = mn.transform(x_test)

In [92]:
x_train_mn

array([[0.96202532, 0.        , 0.5       , 0.        , 1.        ],
       [0.        , 0.        , 0.33333333, 0.        , 0.66666667],
       [0.17721519, 0.        , 0.33333333, 0.        , 0.66666667],
       [0.27848101, 1.        , 0.33333333, 0.        , 0.33333333],
       [0.86075949, 0.        , 0.83333333, 0.        , 0.33333333],
       [0.82278481, 1.        , 0.83333333, 1.        , 0.66666667],
       [0.55696203, 0.        , 0.66666667, 0.        , 0.33333333],
       [0.58227848, 0.        , 0.5       , 1.        , 0.66666667],
       [0.74683544, 0.        , 0.5       , 0.        , 0.33333333],
       [0.98734177, 0.        , 0.5       , 0.        , 0.66666667],
       [0.75949367, 0.        , 0.        , 0.        , 1.        ],
       [0.16455696, 0.        , 1.        , 0.        , 0.        ],
       [0.13924051, 0.        , 0.83333333, 0.        , 0.        ],
       [0.13924051, 1.        , 1.        , 0.        , 0.66666667],
       [0.27848101, 1.        , 0.33333333, 0.        , 0.66666667],
       [1.        , 0.        ,        nan, 0.        , 0.        ],
       [0.58227848, 1.        , 1.        , 0.        , 0.66666667],
       [0.81012658, 0.        , 0.66666667, 0.        , 0.        ],
       [0.97468354, 0.        , 0.66666667, 1.        , 0.        ],
       [0.81012658, 0.        , 0.83333333, 0.        , 0.66666667],
       [0.49367089, 1.        , 1.        , 0.        , 1.        ],
       [0.87341772, 1.        , 0.66666667, 0.        , 1.        ],
       [0.18987342, 0.        ,        nan, 1.        , 1.        ],
       [0.08860759, 0.        , 1.        , 0.        , 0.        ],
       [0.35443038, 0.        , 0.66666667, 1.        , 0.33333333],
       [0.46835443, 0.        ,        nan, 1.        , 0.        ],
       [0.75949367, 1.        , 0.16666667, 0.        , 0.33333333],
       [0.2278481 , 1.        ,        nan, 0.        , 1.        ],
       [0.64556962, 0.        , 1.        , 1.        , 0.        ],
       [0.74683544, 1.        , 0.66666667, 0.        , 0.        ],
       [0.10126582, 0.        , 0.33333333, 1.        , 0.66666667],
       [0.32911392, 0.        , 0.        , 0.        , 0.66666667],
       [0.44303797, 0.        , 0.        , 1.        , 0.33333333],
       [0.55696203, 0.        , 0.5       , 0.        , 0.33333333],
       [0.17721519, 0.        , 0.33333333, 1.        , 0.        ],
       [0.07594937, 1.        , 0.33333333, 0.        , 0.        ],
       [0.11392405, 1.        , 0.5       , 1.        , 0.        ],
       [0.46835443, 1.        , 1.        , 0.        , 1.        ],
       [0.41772152, 0.        , 0.5       , 0.        , 0.        ],
       [0.51898734, 1.        , 0.83333333, 1.        , 0.        ],
       [0.83544304, 1.        ,        nan, 1.        , 0.66666667],
       [0.06329114, 0.        , 0.        , 1.        , 0.66666667],
       [0.69620253, 0.        , 0.16666667, 0.        , 1.        ],
       [0.21518987, 0.        , 0.16666667, 0.        , 0.        ],
       [0.17721519, 1.        , 0.5       , 0.        , 0.33333333],
       [0.75949367, 1.        , 0.16666667, 0.        , 0.        ],
       [0.17721519, 0.        , 0.5       , 0.        , 1.        ],
       [0.62025316, 0.        , 1.        , 1.        , 0.66666667],
       [0.96202532, 0.        , 0.        , 1.        , 1.        ],
       [0.18987342, 0.        , 0.5       , 0.        , 0.        ],
       [0.5443038 , 0.        , 0.83333333, 0.        , 0.66666667],
       [0.97468354, 1.        ,        nan, 0.        , 0.66666667],
       [0.2278481 , 1.        , 0.        , 1.        , 1.        ],
       [0.7721519 , 1.        , 0.16666667, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        , 1.        ],
       [0.55696203, 0.        , 0.16666667, 1.        , 0.        ],
       [0.        , 1.        , 0.66666667, 0.        , 0.66666667],
       [0.36708861, 0.        , 0.5       , 1.        , 0.33333333],
       [0.93670886, 1.        ,        nan, 1.        , 0.66666667],
       [0.01265823, 0.        , 1.        , 0.        , 0.66666667],
       [0.06329114, 1.        , 0.33333333, 0.        , 0.        ],
       [0.81012658, 0.        , 0.        , 1.        , 1.        ],
       [0.63291139, 1.        , 0.33333333, 0.        , 0.66666667],
       [0.36708861, 0.        ,        nan, 1.        , 1.        ],
       [0.27848101, 1.        , 0.33333333, 0.        , 0.33333333],
       [0.53164557, 0.        , 0.33333333, 1.        , 0.        ],
       [0.86075949, 1.        , 0.        , 0.        , 0.        ],
       [0.46835443, 1.        , 0.5       , 0.        , 0.33333333],
       [0.94936709, 0.        , 0.        , 0.        , 0.33333333],
       [0.53164557, 1.        , 0.5       , 1.        , 0.        ],
       [0.41772152, 1.        ,        nan, 0.        , 0.33333333],
       [0.36708861, 0.        , 1.        , 1.        , 0.33333333],
       [0.25316456, 1.        , 1.        , 0.        , 0.        ],
       [0.24050633, 1.        , 0.        , 0.        , 0.66666667],
       [0.08860759, 1.        , 0.        , 1.        , 0.        ],
       [0.24050633, 0.        , 0.66666667, 1.        , 0.        ],
       [0.88607595, 0.        , 1.        , 1.        , 0.33333333],
       [0.58227848, 1.        , 1.        , 0.        , 0.        ],
       [0.97468354, 0.        , 0.66666667, 1.        , 0.66666667],
       [0.07594937, 0.        , 0.33333333, 1.        , 0.66666667]])

In [93]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   71.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    2.0    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0   99.5    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  103.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [94]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [95]:
x_train_new

         age  gender     fever  cough      city
0   0.962025     0.0  0.500000    0.0  1.000000
1   0.000000     0.0  0.333333    0.0  0.666667
2   0.177215     0.0  0.333333    0.0  0.666667
3   0.278481     1.0  0.333333    0.0  0.333333
4   0.860759     0.0  0.833333    0.0  0.333333
..       ...     ...       ...    ...       ...
75  0.240506     0.0  0.666667    1.0  0.000000
76  0.886076     0.0  1.000000    1.0  0.333333
77  0.582278     1.0  1.000000    0.0  0.000000
78  0.974684     0.0  0.666667    1.0  0.666667
79  0.075949     0.0  0.333333    1.0  0.666667

[80 rows x 5 columns]

In [96]:
np.round(x_train_new.describe(),1)

        age  gender  fever  cough  city
count  80.0    80.0   71.0   80.0  80.0
mean    0.5     0.4    0.5    0.4   0.4
std     0.3     0.5    0.3    0.5   0.4
min     0.0     0.0    0.0    0.0   0.0
25%     0.2     0.0    0.2    0.0   0.0
50%     0.5     0.0    0.5    0.0   0.3
75%     0.8     1.0    0.8    1.0   0.7
max     1.0     1.0    1.0    1.0   1.0

In [97]:
# OrdinalEncoder

In [178]:
df1

    gender   cough       city has_covid
0     Male    Mild    Kolkata        No
1     Male    Mild      Delhi       Yes
2     Male    Mild      Delhi        No
3   Female    Mild    Kolkata        No
4   Female    Mild     Mumbai        No
..     ...     ...        ...       ...
95  Female    Mild  Bangalore        No
96  Female  Strong    Kolkata       Yes
97  Female    Mild  Bangalore        No
98  Female  Strong     Mumbai        No
99  Female  Strong    Kolkata       Yes

[100 rows x 4 columns]

In [179]:
df1.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [180]:
from sklearn.preprocessing import OrdinalEncoder

In [181]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'], ['Mild' , 'Strong'],['Kolkata','Bangalore','Delhi','Mumbai'],['No','Yes']])

In [182]:
df['city'].value_counts()

city
2    32
0    30
1    22
3    16
Name: count, dtype: int64

In [183]:
df['cough'].value_counts()

cough
0    62
1    38
Name: count, dtype: int64

In [185]:
oe.fit(df1)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['No', 'Yes']])

In [187]:
oe.transform(df1)

array([[0., 0., 0., 0.],
       [0., 0., 2., 1.],
       [0., 0., 2., 0.],
       [1., 0., 0., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 1., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 2., 0.],
       [1., 0., 2., 0.],
       [1., 0., 3., 1.],
       [1., 1., 0., 0.],
       [0., 0., 1., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [1., 0., 1., 1.],
       [1., 1., 1., 1.],
       [0., 1., 1., 0.],
       [0., 0., 1., 1.],
       [1., 1., 0., 1.],
       [1., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 3., 0.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 0.],
       [1., 1., 3., 1.],
       [0., 0., 2., 1.],
       [0., 0., 0., 0.],
       [1., 1., 2., 1.],
       [1., 0., 0., 0.],
       [0., 0., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 2., 1.],
       [1., 0., 0., 0.],
       [1., 0., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 2., 1.],
       [1., 0., 1., 1.],
       [0., 1., 2., 0.],
       [0., 0., 1., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 0., 3., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 1.],
       [1., 1., 1., 1.],
       [0., 0., 2., 1.],
       [1., 0., 3., 1.],
       [1., 0., 3., 1.],
       [0., 1., 0., 0.],
       [1., 1., 1., 0.],
       [0., 1., 3., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.],
       [1., 1., 3., 0.],
       [1., 1., 1., 1.],
       [0., 0., 1., 0.],
       [0., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 2., 0.],
       [1., 1., 2., 0.],
       [1., 1., 2., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 3., 1.],
       [0., 0., 2., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 1., 3., 0.],
       [1., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 1., 0.],
       [1., 1., 2., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 3., 0.],
       [1., 1., 0., 1.]])